@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background-image: linear-gradient(to left, #6764ff, #5b94c6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text-gradient-light {
  background-image: linear-gradient(to left, #d3d2ff, #90cbff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.uppy-Dashboard-Item-previewInnerWrap {
  background-color: transparent !important;
}

.uppy-Dashboard-Item-previewImg {
  padding: 0 !important;
  border-radius: 10px !important;
}
